.project-card {
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2rem;
  border-radius: 0.2em;
  width: 500px;
  max-width: 90%;
  padding: 0.5em 1em;
  background-color: $blue;
  box-shadow: 1px 1px 5px $dark-blue, -1px -1px 3px $light-blue;

  &:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 5px $dark-blue, inset -1px -1px 3px $light-blue;
  }
}
