$blue: #3399cc;
$light-blue: #d3d3d3;
$dark-blue: #0071aa;
$gray: #efeeee;
$light-gray: #ffffff;
$dark-gray: #d1cdc7;

body {
  background-color: $blue;
  font-family: 'VT323', monospace;
}

@import '../components/Button/button.scss';
@import '../components/Navbar/navbar.scss';
