$blue: #3399cc;
$light-blue: #90d2f3;
$dark-blue: #014668;
$gray: #efeeee;
$light-gray: #ffffff;
$dark-gray: #d1cdc7;
$yellow: #cece15;

$mobile-breakpoint: 800px;

body {
  background-color: $blue;
  font-family: 'VT323', monospace;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 900px;

  a {
    text-decoration: none;
    color: black;
  }

  .blog-posts,
  .home-content,
  .projects-content {
    padding: 3em 1em;
  }
}

@import '../components/Button/button.scss';
@import '../components/Footer/footer.scss';
@import '../components/Navbar/navbar.scss';
@import '../components/BlogList/blogList.scss';
@import '../components/BlogCard/BlogCard.scss';
@import '../components/Modal/modal.scss';
@import '../components/ProjectCard/ProjectCard.scss';
@import '../templates/blogPost.scss';
@import '../components/Image/Image.scss';
