.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: $blue;
  height: 4em;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 900px;

  .nav-link {
    text-decoration: none;
    color: black;
    margin: 0em 1em;

    &:hover {
      font-weight: bold;
    }
  }

  .nav-brand {
    text-decoration: none;
    color: black;
    h2 {
      font-weight: normal;
    }

    &:hover {
      h2 {
        font-weight: bold;
      }
    }
  }
}

